# Config files
config.php
# acode cache files
wxacode/acode/*
wxacode/.*
# Log
*.log

# VSCode settings
.vscode

# IDEA files
.idea

# OSX dir files
.DS_Store

# Sublime Text settings
*.sublime-workspace
*.sublime-project
